<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RCANDYGS - Chocolates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    

    <link rel="stylesheet" href="css/bootstrap.min.css">
 
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
  
    <link rel="stylesheet" href="css/custom.css">

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="R$ REAL">
							<option>R$ REAL</option>
						</select>
                    </div>
                    <div class="right-phone-box">
                        <p>Contato: <a href="#"> +55 34 99766 2685</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i>Minha Conta</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i>Nossa localização</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i>Entre em contato conosco</a></li>
                        </ul>
                    </div>
                </div>
                
                    
                </div>
            </div>
        </div>
    </div>
  
    <header class="main-header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
             
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
               

           
                <div class="collapse navbar-collapse" id="navbar-menu">
					<ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
						<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="about.html">Sobre nós</a></li>
						<li class="dropdown active">
							<a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
							<ul class="dropdown-menu">
								<li><a href="shop.html">Produtos</a></li>
								<li><a href="cart.html">Compras</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="my-account.html">Minha Conta</a></li>
								<li><a href="wishlist.html">Lista de desejos</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="gallery.html">Galeria</a></li>
						<li class="nav-item"><a class="nav-link" href="contact-us.html">Entre em contato conosco</a></li>
                    </ul>
                </div>
                
                
                
            </div>
            
            
        </nav>
       
    </header>
    
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>SOBRE NÓS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">SOBRE NÓS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Nós somos <span> RCANDYGS</span></h2>
                    <p>RCANDYGS, pensei em qual nome dar pra empresa e acabou sendo a união do meu nome completo e da palavra "candy", então R vem de Renata, candy = doce e GS do meu sobrenome. </p>
                   
	
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Como começou</h3>
                        <p>Nas férias de 2020 já no ápice do tédio tive a idéia de tentar fazer bombons, no inicio fiquei desanimada mas minha amiga Sarah me incentivou e no outro dia comecei a fazer, aproveitei o carnaval pré-pandemia e vendi todos os bombons que havia feito. Depois desse dia descobri que não só sou apaixonada em chocolates como amo fazer também. </p>
                    </div>
                </div>
               
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Nosso próposito</h3>
                        <p>Alegrar cada dia levando não só um doce mas também muito carinho, atenção e dedicação.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Por trás dos doces</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Renata</h3> <span class="post">Proprietária e confeiteira</span> </div>
                        
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Renata Cristina, atualmente com 21 anos e proprietária da empresa desde 2020. Responsável por atender os clientes, fazer os doces e entregas. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                
                
            </div>
        </div>
    </div>
   
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Horários</h3>
							<ul class="list-time">
								<li>Trabalhamos com encomendas.</li> <li>Sextas: Pronta entrega brownie</li> <li>Domingo: <span>Fechado</span></li>
							</ul>
						</div>
					</div>
					
					
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Redes Sociais</h3>
							<p><p>Aqui você encontra algumas de nossas redes sociais.</p></p>
							<ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Sobre nós</h4>
                            <p>Uma mini empresa criada em 02.2020 com intuito de adoçar a vida de cada cliente.</p> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Informações</h4>
                            <ul>
                                <li><a href="#">Sobre nós</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Entre em contato conosco</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Uberlândia - Minas Gerais</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Telefone: <a href="https://api.whatsapp.com/send/?phone=5534997662685&text&app_absent=0">+55 34 99766 2685</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:renatinha.8@hotmail.com">renatinha.8@hotmail.com</a></p>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Direitos autorais  -->
       <div class="footer-copyright">
        <p class="footer-company">Todos os direitos reservados. &copy; 2021 </p>
    </div>


    <a href="#" id="back-to-top" title="Voltar ao topo" style="display: none;">&uarr;</a>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>